@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --primary: #3E2723;
    --secondary: #5D4037;
    --accent: #D7CCC8;
    --light: #EFEBE9;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background: linear-gradient(135deg, var(--primary), var(--accent));
    min-height: 100vh;
    overflow-x: hidden;
}

.page-header {
    text-align: center;
    padding: 22px 10%;
    background: var(--light);
    color: var(--primary);
}

.page-header h1 {
    font-size: 38px;
    margin-bottom: 8px;
}

.page-header p {
    font-size: 16px;
    color: var(--secondary);
}


.contact-section {
    display: flex;
    justify-content: center;
    padding: 50px 10%;
}


.contact-box {
    width: 100%;
    max-width: 600px;

    background: var(--primary);
    backdrop-filter: blur(10px);

    padding: 30px;
    border-radius: 15px;
    color: var(--white);

    border: 1px solid rgba(215, 204, 200, 0.3);
    transition: 0.3s;
}

.contact-box:hover {
    transform: translateY(-5px);
    background: var(--secondary);
}


.contact-box h2 {
    margin-bottom: 20px;
    text-align: center;
}


.info {
    margin-bottom: 15px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: 0.3s;
}

.info:hover {
    background: rgba(255, 255, 255, 0.2);
}




@media (max-width: 768px) {

    .contact-section {
        padding: 30px 5%;
    }

    .contact-box {
        padding: 20px;
    }

    .page-header h1 {
        font-size: 30px;
    }

    .page-header p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .page-header {
        padding: 30px 5%;
    }

}